
    #pollito {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    #imagen {
        max-width: 50%;
        max-height: 50%;
    }